/* MASTER CSS */
/* body{

  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;

} */
body{
  width: 100%;
  height: vh;
  background: url("media/background.png");
  background-position: center;
  /* background-color: #D7D7D7; */
}
h1{
  height: 70px;
  width: 100%;
  position: fixed;
  margin-top: -170px;
  border-bottom: 919090;


  font-size: 4em;
  font-weight: bold;
  font-family: playfair display, times, serif;
  text-align: center;
  background-color: #F3EEEA;
}

.biography{
  height: vh;
  width: vw;
}

.biography video{
  height: 600px;
  width: auto;
  margin-top: -20px;
  margin-right: 30px;
  float: right;
  /* position: relative; */
}


.text h2{
  width: 40%;
  margin-top: 90px;
  /* margin: 20px; */
  /* float: left; */
  font-family: playfair;
  text-align: center;
  font-size: 3em;
  float: left;
}

p{
  width: 40%;
  margin-left: 20px;
  margin-top: 170px;

  font-family: sans-serif;
  line-height: 1.45em;
  font-weight: lighter;
  font-size: 1.2em;
  text-align: center;
}

.icons{
  height: 500px;
  width: 100%;
  margin-top: -170px;
  float: right;}

.portfolio{
  align-items: center;
}

/*
.img{
  float: right;} */
